<div class="container mt-5 mb-5">
    <h1 class="text-center mt-3 mb-3">About</h1> 
    <img src="../../assets/img/about.jpg" width="100%">
    
    <p style="text-align: justify; margin-top: 30px;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate eaque ut amet impedit voluptatibus omnis repudiandae temporibus deleniti, exercitationem fugiat repellat velit recusandae reiciendis! Autem dignissimos quis error velit magni!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente consequuntur tenetur ab reprehenderit voluptate pariatur alias atque, nulla temporibus odit optio, eos dolore officiis animi molestias exercitationem quasi incidunt neque!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui iure, mollitia dolores expedita quisquam eos debitis ea voluptatum corporis quod ex aperiam incidunt asperiores aliquam quo modi beatae, dolorem eligendi.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe illum delectus expedita velit officiis. Amet quod harum dolorem laborum consectetur dolorum aperiam blanditiis, iure ipsam ex totam dicta et ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, unde impedit. Quae facere dolores laborum corporis rem maiores harum distinctio eius eligendi autem, ab tempore totam a? Unde, aperiam ipsum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aperiam exercitationem ducimus sit! Illo quisquam animi ipsam excepturi maiores, incidunt a officiis quae dolore consequatur. Placeat sequi rem deleniti corporis?
        <br/>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, ullam. Id esse dolorum nisi nobis quas, hic dolorem explicabo distinctio maiores quibusdam rem, fugit suscipit facilis culpa ducimus cupiditate sit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorum architecto, eaque voluptatem alias debitis vero beatae minus? Laborum hic vel optio fugiat itaque provident consectetur esse dolorem enim 
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus facere cumque dignissimos qui necessitatibus pariatur voluptatum illum esse accusantium quae, quasi amet, doloremque molestiae labore. Quasi dolorum excepturi quam repudiandae.
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quo perferendis ipsa deserunt. Sequi magnam tempora ullam, similique, et obcaecati accusantium blanditiis officia cupiditate, error itaque. Neque, vitae? Soluta, sint.
        

    </p>

</div>
